@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 245, 245); 
}
.todo{
  width: 600px;
  height: 600px;
  padding: 30px;background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0 #ddd;
}
.todo__header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.todo__search{
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #3E4356;
  border-radius: 8px;
  outline: none;
}
.todo__title{
  font-size: 42px;
  color: #3E4356;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}
.todo__input{
  margin-top: 20px;
  width: 90%;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3E4356;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}
.todo__counter-value{
  font-size: 13px;
  font-weight: 700;
  color: #999;
}
.todo__list{
  width: 100%;
  margin-top: 30px;
  height: 300px;
  overflow-y: auto;
}
.todo__list::-webkit-scrollbar{
  width: 0px;
}
.todo__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.todo__text{
  flex: 1 1;
  color: #30333f;
  margin-left: 10px;
}
.todo__text.line{
  text-decoration: line-through;
}
.index{
  font-size: 18px;
  font-weight: 700;
  color: #3E4356;
}
.length__todo{
  color: #30333f;
  font-weight: 600;
  font-size: 14px;
  margin-top: 30px;
}
.todo__delete{
  border: none;
  background-color: rgb(230, 90, 65);
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.todo__item.complite {
  opacity: .5;
}

.not__found{
  display: flex;
  justify-content: center;
  color: #777;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
}

.todo__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}